.employees-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  justify-items: center;
  width: 100%;
  max-width: 1200px;


}

.employess_navegation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 0 10px 0;

}

.register_option {
  background-color: #740097;
  color: white;
  text-decoration: none;
  right: 0;
  text-align: center;
  padding: 10px 20px 10px 20px;
  height: 20px;
  margin-right: 10px;
  align-items: center;
  border-radius: 5px;
  border: none;

  cursor: pointer;
  transition: all 0.3s ease;

}

.title {
  text-align: center;
}

.register_option:hover {
  background-color: #5c007a;
}

.content_search {
  display: flex;
  gap: 10px;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.content_search>input {
  width: 100%;
  height: 30px;
  border: 1px solid #740097;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 1.2rem;
  margin-left: 10px;
}

.nav_buttons {
  display: flex;
  gap: 10px;
}

.exel {
  background-color: #1d6f42;
}

.exel:hover {
  background-color: #1a5a37;
}
.btn{
  background-color: #740097;
  color: white;
  text-decoration: none;
  right: 0;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  align-items: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

}
.btn:hover{
  background-color: #5c007a;
}

.modal_content {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  animation: modal 0.3s ease;
  animation-fill-mode: forwards;

}

@keyframes modal {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }

}

@keyframes modalExt {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }

}

.modal_img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #740097;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 20px;

}

.modal_close {
  font-size: 1.5rem;
  right: 0;
  top: 0;
  margin: 10px;
  z-index: 1000;
  border: none;
  background-color: transparent;
  color: #740097;
  cursor: pointer;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  transition: all 0.3s ease;

}

.modal_close:hover {
  background-color: #5c007a;
  color: white;
}

@media screen and (max-width: 768px) {
  .employees-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

  }
  .employess_navegation
  {
    flex-direction: column;
    gap: 30px;
    height: fit-content;
  }
  .content_search
  {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .employees-container {
    grid-template-columns: 1fr;
  }
  .exel{
    font-size: 12px;
    height: fit-content;
  }
  .register_option{
    font-size: 12px;
    height: fit-content;
  }

}